<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item">账户安全</li>
    <li class="breadcrumb-item active">修改密码</li>
</ol>

<div id="account">
    <!--<div class="mainContentTitle">修改密码</div>-->
    <form [formGroup]="modifyPasswordForm" class="accountManage" *ngIf="stepOne">
        <div class="form-group" class="{{modifyPasswordFormErrors['verifyCode']?'form-group row has-danger':'form-group row'}}">
            <label for="verifyCode" class="col-2 col-form-label">图形验证码:</label>
            <div class="col-4">
                <input type="text" [readonly]="disablePhoneInput" class="{{modifyPasswordFormErrors['verifyCode']?'form-control form-control-danger':'form-control '}}" name="verifyCode" formControlName="verifyCode" id="verifyCode">
            </div>
            <div class="col-2 h38">
                <img [src]="imageSrcCaptcha" alt="" class="CaptchaImage" width="100%" (click)="changeCaptchaImage($event)" >
            </div>
            <div class="col-4">
                <div class="form-control-feedback red">{{modifyPasswordMessage}}</div>
            </div>
        </div>
        <div class="form-group" class="{{modifyPasswordFormErrors['code']?'form-group row has-danger':'form-group row'}}">
            <label for="code" class="col-2 col-form-label" >短信验证码:</label>
            <div class="col-4">
                <input type="text" class="{{modifyPasswordFormErrors['code']?'form-control form-control-danger':'form-control '}}" name="code" id="code" formControlName="code">
            </div>
            <div class="col-2">
                <button type="button" class="btn clickBtn" [disabled]="modifyPasswordForm.get('verifyCode').status!='VALID' || disablePhoneInput" (click)="getSmsCode('old')">{{ countDownTimer ? countDownTimer + 's后重新获取' : '获取验证码' }} </button>
            </div>
            <div class="col-4">
                <div class="form-control-feedback">{{ modifyPasswordFormErrors['code'] }}</div>
            </div>
        </div>
        <div class="form-group" class="{{modifyPasswordFormErrors['oldPassword']?'form-group row has-danger':'form-group row'}}">
            <label for="code" class="col-2 col-form-label" >原密码:</label>
            <div class="col-4">
                <input type="password" class="{{modifyPasswordFormErrors['oldPassword']?'form-control form-control-danger':'form-control '}}" name="oldPassword" formControlName="oldPassword">
            </div>
            <div class="col-6">
                <div class="form-control-feedback">{{ modifyPasswordFormErrors['oldPassword'] }}</div>
                <div class="form-control-feedback red" *ngIf="modifyPasswordForm.controls.oldPassword.hasError('validateOldPwd')">
                    原密码不正确
                </div>
            </div>
        </div>
        <div class="form-group" class="{{modifyPasswordFormErrors['newPassword']?'form-group row has-danger':'form-group row'}}">
            <label for="code" class="col-2 col-form-label" >新密码:</label>
            <div class="col-4">
                <input type="password" class="{{modifyPasswordFormErrors['newPassword']?'form-control form-control-danger':'form-control '}}" name="newPassword" formControlName="newPassword">
            </div>
            <div class="col-6">
                <div class="form-control-feedback">{{ modifyPasswordFormErrors['newPassword'] }}</div>
            </div>
        </div>
        <div class="form-group" class="{{modifyPasswordFormErrors['confirmPassword']?'form-group row has-danger':'form-group row'}}">
            <label for="code" class="col-2 col-form-label" >确认新密码:</label>
            <div class="col-4">
                <input type="password" class="{{modifyPasswordFormErrors['confirmPassword']?'form-control form-control-danger':'form-control '}}" name="confirmPassword" formControlName="confirmPassword">
            </div>
            <div class="col-6">
                <div class="form-control-feedback">{{ modifyPasswordFormErrors['confirmPassword'] }}</div>
                <div class="form-control-feedback" class="red" *ngIf="modifyPasswordForm.hasError('mismatchedPasswords') ">
                    密码不一致
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="code" class="col-2 col-form-label" ></label>
            <div class="col-4">
                <button type="submit" class="btn clickBtn" [disabled]='!modifyPasswordForm.valid' (click)="save()">保存</button>
            </div>
            <div class="col-6">
                <div class="form-control-feedback" class="red">{{ errMessage }}</div>
            </div>
        </div>
    </form>
    <div *ngIf="stepTwo" class="successWrap">
        <i class="fa fa-check"></i>密码修改成功！
    </div>
</div>


