<div id="upstreamHeader">
    <div class="subHeader">
        <div class="upstreamSubHeader">
            <span>客服热线：<b>400-960-1180</b></span>
            <ul class="menuRight">
                <li>
                    <a href="/web/upstream/login" >登录</a>
                </li>
                <!--<li>-->
                    <!--<img src="/static/assets/upstreamHeader/wxLogo.png" alt="">-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="mainHeader">
        <div class="upstreamSubHeader">
            <a href="/web/index">
                <img src="/static/assets/upstreamHeader/upstreamHeader.png" alt="">
            </a>
            <ul class="menuRight">
                <li>
                    <a href="/web/index">首页</a>
                </li>
                <li>
                    <a href="/web/financing">企业金融</a>
                </li>

            </ul>
        </div>
    </div>
</div>
