
<!--企业信用情况-->
<div>
    <h6 class="p-2 my-4 bg-f8">企业信用情况</h6>
    <!--行政处罚信息-->
    <div class="mx-5 mb-5">
        <div class="row mb-2">
            <div class="col-2"><h6>行政处罚信息</h6></div>
            <div class="col-2">共 <span class="main-blue">3</span> 条 </div>
            <div class="col-8 text-right main-blue">添加新纪录</div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" >决定文书号</th>
                <th class="text-center" >违法行为类型</th>
                <th class="text-center" >行政处罚内容</th>
                <th class="text-center" >决定机关名称</th>
                <th class="text-center" >处罚决定日期</th>
                <th class="text-center" >公示日期</th>
                <th class="text-center" >详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"  scope="row">1</td>
                <td class="text-center" >Mark</td>
                <td class="text-center" >Otto</td>
                <td class="text-center" >@mdo</td>
                <td class="text-center" >@mdo</td>
                <td class="text-center" >@mdo</td>
                <td class="text-center" >@mdo</td>
            </tr>


            </tbody>
        </table>
    </div>
    <!--法律诉讼-->
    <div class="mx-5 mb-5">
        <div class="row mb-2">
            <div class="col-2"><h6>法律诉讼</h6></div>
            <div class="col-2">共 <span class="main-blue">3</span> 条 </div>
            <div class="col-8 text-right main-blue">添加新纪录</div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" >日期</th>
                <th class="text-center" >裁判文书</th>
                <th class="text-center" >案件类型</th>
                <th class="text-center" >案件号</th>
                <th class="text-center" >详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"  scope="row">1</td>
                <td class="text-center" >Mark</td>
                <td class="text-center" >Otto</td>
                <td class="text-center" >@mdo</td>
                <td class="text-center" >@mdo</td>
            </tr>


            </tbody>
        </table>
    </div>
    <!--违法失信企业名单-->
    <div class="mx-5 mb-5">
        <div class="row mb-2">
            <div class="col-3"><h6>违法失信企业名单(黑名单)</h6></div>
            <div class="col-2">共 <span class="main-blue">3</span> 条 </div>
            <div class="col-7 text-right main-blue">添加新纪录</div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" >类别</th>
                <th class="text-center" >列入黑名单原因</th>
                <th class="text-center" >列入日期</th>
                <th class="text-center" >作出决定机关</th>
                <th class="text-center" >详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"  scope="row">1</td>
                <td class="text-center" >Mark</td>
                <td class="text-center" >Otto</td>
                <td class="text-center" >@mdo</td>
                <td class="text-center" >@mdo</td>
            </tr>


            </tbody>
        </table>
    </div>

</div>

<!--提交按钮-->
<div class="row my-5">
    <div class="col-2 offset-5">
        <button class="btn btn-blue px-5">保存</button>
    </div>
</div>
