
<div class="font14">
    <!--公司基本信息-->
    <div>
        <h6 class="p-2 bg-f8 my-2">企业基本信息</h6>
        <div class="row mb-3">
            <div class="col-2 text-right">企业全称</div>
            <div class="col-3 text-left">{{company.companyName}}</div>
            <div class="col-2 text-right">注册地址</div>
            <div class="col-4 text-left">{{company.province}} {{company.city}} {{company.district}} {{company.registerAddress}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right">注册号<br/>(统一社会信用代码)</div>
            <div class="col-3 text-left">{{company.license.unionLicenseCode}}</div>
            <div class="col-2 text-right">注册资本(万元)</div>
            <div class="col-3 text-left">{{company.registerCapital}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right">企业性质</div>
            <div class="col-3 text-left">
                <span *ngIf="company.companyType || company.companyType === 0">{{ company.companyType || 0 |  companyType}}</span>
                <span *ngIf="!company.companyType"></span>
            </div>
            <div class="col-2 text-right">成立时间</div>
            <div class="col-3 text-left">{{company.founded}}</div>
        </div>
        <div class="row mb-3">

            <div class="col-2 text-right">营业期限</div>
            <!--<div class="col-3 text-left">{{ company.license.operationType || 0 |  operationType}}</div>-->
            <div class="col-3 text-left" >
               <div *ngIf="company.license.operationType === 1">{{company.license.operationBegin}}&nbsp;至&nbsp;{{company.license.operationEnd}}</div>
               <div *ngIf="company.license.operationType === 2">无期限</div>
            </div>

            <div class="col-2 text-right">登记机关</div>
            <div class="col-3 text-left">{{company.license.registerOrgan}}</div>
        </div>
        <!--<div class="row mb-3">-->
            <!--<div class="col-2 text-right">最近年检</div>-->
            <!--<div class="col-3 text-left">{{company.license.lastCheck}}</div>-->
        <!--</div>-->
        <div class="row mb-3">
            <div class="col-2 text-right">经营范围</div>
            <div class="col-9 text-left">{{company.scope}}</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">营业执照</div>
            <div class="col-3">
                <image-show [sourcePath]="company.license?.operationLicensePic"></image-show>
            </div>
            <div class="col-2 text-right">组织机构代码证</div>
            <div class="col-3">
                <image-show [sourcePath]="company.license?.organLicensePic"></image-show>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right">信用代码证</div>
            <div class="col-3">
                <image-show [sourcePath]="company.license?.unionLicensePic"></image-show>
            </div>
            <div class="col-2 text-right">其他证件</div>
            <div class="col-3">
                <image-show [sourcePath]="company.license?.bankLicensePic"></image-show>
            </div>
        </div>

    </div>

    <!--法人信息-->
    <div>
        <h6 class="p-2 bg-f8 my-2">法人信息</h6>

        <div class="row mb-3">
            <div class="col-2 text-right">法人代表</div>
            <div class="col-3 text-left">{{company.legalPerson.legalPersonName }}</div>
            <div class="col-2 text-right">身份证号</div>
            <div class="col-3 text-left">{{company.legalPerson.legalPersonId}}</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">手机</div>
            <div class="col-3 text-left">{{company.legalPerson.legalPersonPhone}}</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">身份证正面</div>
            <div class="col-3">
                <image-show [sourcePath]="company.legalPerson?.legalPersonIdFrontSidePic"></image-show>
            </div>
            <div class="col-2 text-right">身份证背面</div>
            <div class="col-3">
                <image-show [sourcePath]="company.legalPerson?.legalPersonIdReverseSidePic"></image-show>
            </div>
        </div>
    </div>

    <!--委托人信息-->
    <div>
        <h6 class="p-2 bg-f8 my-2">委托人信息</h6>

        <div class="row mb-3">
            <div class="col-2 text-right">姓名</div>
            <div class="col-3 text-left">{{company.authPerson.authPersonName || '无'}}</div>
            <div class="col-2 text-right">身份证号</div>
            <div class="col-3 text-left">{{company.authPerson.authPersonId || '无'}}</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">手机</div>
            <div class="col-3 text-left">{{company.authPerson.authPersonPhone || '无'}}</div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">身份证正面</div>
            <div class="col-3">
                <span *ngIf="!company.authPerson?.authPersonIdFrontSidePic">无</span>
                <image-show [sourcePath]="company.authPerson?.authPersonIdFrontSidePic"></image-show>
            </div>
            <div class="col-2 text-right">身份证背面</div>
            <div class="col-3">
                <span *ngIf="!company.authPerson?.authPersonIdReverseSidePic">无</span>
                <image-show [sourcePath]="company.authPerson?.authPersonIdReverseSidePic"></image-show>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 text-right">委托书复印件</div>
            <div class="col-3">
                <span *ngIf="!company.authPerson?.authDocumentPic">无</span>
                <image-show [sourcePath]="company.authPerson?.authDocumentPic"></image-show>
            </div>
        </div>
    </div>

</div>
