#staff{
    .staffWrap{
        margin-right:30px;
        margin-top:30px;
        .clickBtn{
            color: #00b7ec;
            border: 1px solid #00b7ec;
            text-align: center;
            background: #fff;

        }
        button{
            width:100%;
            &:disabled{
                color:#fff;
                cursor: not-allowed;
                background: grey;
                border:1px solid transparent;
            }
            &:focus{
                outline:none;
            }
        }
        .red{
            color:#d9534f;
        }
    }
    .searchform{
        font-size: 0;
        margin: 30px 0;
        & > * {
            display: inline-block;
            height:30px;
            line-height:30px;
            color:#999;
            font-size:16px;
            min-width: 70px;
            vertical-align: middle;
        }
        input{
            border:1px solid #e6e6e6;
            border-radius: 2px;
            padding-left: 10px;
            width:180px;
            color:#000;
            margin-right: 10px;
            &:focus{
                border-color:#1fb8ea;
            }
        }
        .searchBtn{
            width:120px;
            font-size: 18px;
            color:#fff;
            text-align: center;
            background: #fa7732;
            border:none;
            padding:0;
            margin-right: 10px;
            border-radius: 2px;
        }
        .createBtn {
            width: 120px;
            font-size: 18px;
            color: #fff;
            text-align: center;
            display: inline-block;
            background: #1fb8ea;
            border-radius: 2px;
        }
    }
    .staffTable{
        border:1px solid #ccc;
        border-bottom:none;
        width:100%;
        border-collapse: collapse;
        color:#999;

        thead{
            background:#f8f9fa;
        }
        td{
            height:45px;
            text-align: center;
        }
        tr{
            border-bottom:1px solid #ccc;
        }
        a{
            display: inline-block;
            background: #f8f9fa;
            border:1px solid #ddd;
            padding:3px 10px;
            border-radius:2px;
            margin-right: 5px;

            &.editBtn{
                color:#1fb8ea;
            }
            &.disabledBtn{
                color:#ff0000;
            }
            &.openBtn{
                color:#2d8303;
            }
            &:hover{
                opacity: .8;
            }
        }
    }
    .successWrap{
        text-align: center;
        padding-top:60px;
        font-size: 30px;

        i{
            color: green;
            display: inline-block;
            margin-right: 10px;
        }
        a{
            display: block;
            width:100%;
            margin-top: 30px;
        }
    }
}
